<div class="content">
  <h1>Pasos a seguir del alumno</h1>
  <p>Para comenzar a utilizar tu perfil de alumno, deberá seguir los siguientes pasos. Le recordamos que esto es solamente una breve guía y tendrá disponible en cualquier momento manuales más específicos en la sección de descargas.
  </p>

  <div class="big-box">
    
    <div id="admin_1_step">
      <div class="header">
        <div class="title">
          Paso 1
        </div>
        <div class="subtitle">
          <h3>Inicio de sesión</h3>
        </div>

        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li class="step step2">
            <p>2</p>
          </li>
          <li class="step step3">
            <p>3</p>
          </li>
          <li class="step step4">
            <p>4</p>
          </li>
          <li class="step step5">
            <p>5</p>
          </li>
          <li class="step step6">
            <p>6</p>
          </li>
          <li class="step step7">
            <p>7</p>
          </li>
        </ul>
      </div>
      <div class="box-content">
        <p>
          Es muy sencillo iniciar sesión. Para ello, será necesario el correo
          electrónico que dimos de alta en el registro y la contraseña que
          hayamos escogido o nos hayan asignado en el proceso de registro.
        </p>
        <p>
          Es importante revisar que en la barra de dirección aparezca la red de
          su escuela y que en este ejemplo usaremos la red denominada
          version4.cursa.me”. Cada escuela tiene su propia red y no puede ser
          la misma.
        </p>

        <p>
          Si tiene cualquier duda, tiene el servicio de soporte (botón que dice
          “ayuda”) a su disposición o también podrá contactar al administrador
          de su escuela.
        </p>
        <div class="img_tutorial">
         <%= link_to image_tag('img_adm1.png'), root_path%>
         </div>
      </div>
      <div class="pagination">
        <span><a class="btn_pag_null" href="">Previo </a></span>
        <span><a class="btn_pag" href="">Siguiente</a></span>
      </div>
    </div>


   <div id="admin_2_step">
      <div class="header">
        <div class="title">
          Paso 2
        </div>
        <div class="subtitle">
          <h3>Barra de herramientas</h3>
        </div>

        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li id="admin_2_checked" class="step_checked step2">
            <p>2</p>
          </li>
          <li class="step step3">
            <p>3</p>
          </li>
          <li class="step step4">
            <p>4</p>
          </li>
          <li class="step step5">
            <p>5</p>
          </li>
          <li class="step step6">
            <p>6</p>
          </li>
          <li class="step step7">
            <p>7</p>
          </li>
        </ul>
      </div>
      <div class="box-content">
        <p>
          En la barra de herramientas encontraremos las diversas funciones
          con las que cuenta la plataforma,funciones simples pero poderosas:
          INICIO Nos lleva a la pantalla de inicio.
          CALIFICAR Revisaremos las actividades que tenemos pendientes
          por calificar o que hayamos calificado.
          CURSOS En esta sección encontraremos un listado de los
          cursos que tengamos activos e inactivos. Un curso inactivo es aquel
          que ya haya transcurrido el tiempo que le designamos cuando lo creamos.
          CALIFICACIONES Apartado que nos muestra la información por alumno con
          respecto a lo que obtuvo en cada tarea y cada cuestionario que haya
          respondido. 
          CALENDARIO La herramienta con la cual podremos llevar un control de las
          actividades que hayamos planeado a  futuro.
        </p>
        <div class="img_tutorial">
         <%= link_to image_tag('img_t2.png'), root_path%>
         </div>
      </div>
      <div class="pagination">
        <span><a class="btn_pag" href="">Previo </a></span>
        <span><a class="btn_pag" href="">Siguiente</a></span>
      </div>
    </div>

   <div id="admin_3_step">
      <div class="header">
        <div class="title">
          Paso 3
        </div>
        <div class="subtitle">
          <h3>Listado de cursos</h3>
        </div>

        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li id="admin_2_checked" class="step_checked step2">
            <p>2</p>
          </li>
          <li id="admin_3_checked" class="step_checked step3">
            <p>3</p>
          </li>
          <li class="step step4">
            <p>4</p>
          </li>
          <li class="step step5">
            <p>5</p>
          </li>
          <li class="step step6">
            <p>6</p>
          </li>
          <li class="step step7">
            <p>7</p>
          </li>
        </ul>
      </div>
      <div class="box-content">
        <p>
          Para poder ingresar a un curso, deberemos hacer click en el apartado que
          dice “Cursos”. En primera instancia nos aparecerán los cursos en los que estemos
          inscritos y en el caso de no estar inscritos en ninguno, deberemos
          hacer click en la pestaña de “Inscríbete” dentro del mismo apartado
        </p>
        <div class="img_tutorial">
         <%= link_to image_tag('img_al3.png'), root_path%> 
        </div>
        <div class="img_tutorial">
         <%= link_to image_tag('img_al4.png'), root_path%> 
        </div>

      </div>
      <div class="pagination">
        <span><a class="btn_pag" href="">Previo </a></span>
        <span><a class="btn_pag" href="">Siguiente</a></span>
      </div>
    </div>

    <div id="admin_4_step">
      <div class="header">
        <div class="title">
          Paso 4
        </div>
        <div class="subtitle">
          <h3>Entrega de Actividades</h3>
        </div>

        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li id="admin_2_checked" class="step_checked step2">
            <p>2</p>
          </li>
          <li id="admin_3_checked" class="step_checked step3">
            <p>3</p>
          </li>
          <li id="admin_4_checked" class="step_checked step4">
           <p> 4</p>
          </li>
          <li class="step step5">
            <p>5</p>
          </li>
          <li class="step step6">
            <p>6</p>
          </li>
          <li class="step step7">
            <p>7</p>
          </li>
        </ul>
      </div>
      <div class="box-content">
        <p>
          Deberemos seleccionar dentro de la barra de herramientas con que actividad vamos a trabajar, si es con tareas, con cuestionarios o con discusiones.

          Una vez que hayamos seleccionado la actividad nos desplegará un listado con las actividades que podamos entregar. Simplemente la seleccionamos, leemos de qué se trata, la completamos y para entregarla hacemos click en “Entregar tarea”
        </p>
        <div class="img_tutorial">
         <%= link_to image_tag('img_al5.png'), root_path%>
         </div>
      </div>
      <div class="pagination">
        <span><a class="btn_pag" href="">Previo </a></span>
        <span><a class="btn_pag" href="">Siguiente</a></span>
      </div>
    </div>


   <div id="admin_5_step">
      <div class="header">
        <div class="title">
          Paso 5
        </div>
        <div class="subtitle">
          <h3>Correo masivo</h3>
        </div>

        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li id="admin_2_checked" class="step_checked step2">
            <p>2</p>
          </li>
          <li id="admin_3_checked" class="step_checked step3">
            <p>3</p>
          </li>
          <li id="admin_4_checked" class="step_checked step4">
           <p>4</p>
          </li>
          <li id="admin_5_checked" class="step_checked step5">
            <p>5</p>
          </li>
          <li class="step step6">
            <p>6</p>
          </li>
          <li class="step step7">
            <p>7</p>
          </li>
        </ul>
      </div>
      <div class="box-content">
        <p>
          Cúrsame cuenta con herramientas de trabajo simples pero poderosas, como lo son los cometarios, las tareas, discusiones y cuestionarios.
          Para comenzar a utilizar cualquier herramienta simplemente deberemos seleccionarla y completar el formulario que aparece inmediatamente después de seleccionarlo. 
        </p>
        <div class="img_tutorial">
         <%= link_to image_tag('img_t5.png'), root_path%>
         </div>
      </div>
      <div class="pagination">
        <span><a class="btn_pag" href="">Previo </a></span>
        <span><a class="btn_pag" href="">Siguiente</a></span>
      </div>
    </div>

   <div id="admin_6_step">
      <div class="header">
        <div class="title">
          Paso 6
        </div>
        <div class="subtitle">
          <h3>Evaluación final</h3>
        </div>

        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li id="admin_2_checked" class="step_checked step2">
            <p>2</p>
          </li>
          <li id="admin_3_checked" class="step_checked step3">
            <p>3</p>
          </li>
          <li id="admin_4_checked" class="step_checked step4">
            <p>4</p>
          </li>
          <li id="admin_5_checked" class="step_checked step5">
            <p>5</p>
          </li>
          <li id="admin_6_checked" class="step_checked step6">
            <p>6</p>
          </li>
          <li class="step step7">
            <p>7</p>
          </li>
        </ul>      
      </div>
      <div class="box-content">
        <p>
          Para poder trabajar con las calificaciones finales de los alumnos deberemos comenzar seleccionado el curso de mi listado de cursos ubicado en la esquina superior izquierda. 
          Una vez adentro nos situamos en la parte del engrane y seleccionamos la opción “Calificaciones finales”

          Después seleccionamos el alumno a evaluar y llenamos la información que nos solicita Cúrsame para arrojar una calificación final. Si llegara a haber actividades sin calificar, esta parte de la plataforma nos indicaría cuales son esas actividades.
        </p>
      <div class="img_tutorial">
        <%= link_to image_tag('img_t9.png'), root_path%>
        <%= link_to image_tag('img_t10.png'), root_path%>
      </div>
      </div>
      <div class="pagination">
        <span><a class="btn_pag" href="">Previo </a></span>
        <span><a class="btn_pag" href="">Siguiente</a></span>
      </div>
    </div>


   <div id="admin_7_step">
      <div class="header">
        <div class="title">
          Paso 7
        </div>
        <div class="subtitle">
          <h3>Salir</h3>
        </div>

        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li id="admin_2_checked" class="step_checked step2">
            <p>2</p>
          </li>
          <li id="admin_3_checked" class="step_checked step3">
            <p>3</p>
          </li>
          <li id="admin_4_checked" class="step_checked step4">
            <p>4</p>
          </li>
          <li id="admin_5_checked" class="step_checked step5">
            <p>5</p>
          </li>
          <li id="admin_6_checked" class="step_checked step6">
            <p>6</p>
          </li>
          <li id="admin_7_checked" class="step_checked step7">
            <p>7</p>
          </li>
        </ul>      
      </div>
      <div class="box-content">
        <p>
          Para poder trabajar con las calificaciones finales de los alumnos deberemos comenzar seleccionado el curso de mi listado de cursos ubicado en la esquina superior izquierda. 
          Una vez adentro nos situamos en la parte del engrane y seleccionamos la opción “Calificaciones finales”

          Después seleccionamos el alumno a evaluar y llenamos la información que nos solicita Cúrsame para arrojar una calificación final. Si llegara a haber actividades sin calificar, esta parte de la plataforma nos indicaría cuales son esas actividades.
        </p>
      </div>
      <div class="pagination">
        <span><a class="btn_pag" href=""> Finalizar </a></span>
      </div>
    </div>

  </div>
</div>
