<div>
	<ul>
		<li><%= link_to 'Institución', institution_path%></li>
		<li><%= link_to 'Admin', admin_path%></li>
		<li><%= link_to 'Profesor', teacher_path%></li>
		<li><%= link_to 'Alumno', student_path%></li>
		<li><%= link_to 'Salir', exit_path%></li>
	</ul>
</div>