<div class="menu-bar">
	<ul class="menu">
    <li class="logo">
    	<%= link_to image_tag('main_logo.png'), root_path%></li>
			<% if session[:type] != nil %>
		  <% if session[:type] == 'network' %>
		<li>
			<%= link_to 'Institución', institution_path  %></li>
			<% end %>
			<% if session[:type_user] == 'admin' %>
		<li>
			<%= link_to 'Admin', admin_path %></li>
			<%end%>
			<% if session[:type_user] == 'teacher' %>
		<li>
			<%= link_to 'Profesor', teacher_path %></li>
			<%end%>
			<% if session[:type_user] == 'student' %>
		<li><%= link_to 'Alumno', student_path  %></li>
		<%end%>
	    <li><%= link_to 'Salir', exit_path  %></li>
		<%else%>
				<%= form_tag("/trainer/follow") do -%>
				<div class="data">
				<div class="input">
				<%= text_field_tag 'code', '', placeholder: 'Ingresa tu email', class:'uno'%>
				</div>
				<div class="submit">
				 <%= submit_tag 'Enviar email', :class => 'button' %>
				</div>
				<%end%>
	    </li>
	    <li><%= link_to 'Soy institución', '/trainer/follow_network' %></li>
	    <li>
				<%= form_tag("/trainer/follow") do -%>
				<%= text_field_tag 'code', '', placeholder: 'Ingresa el código de institución', class:'uno'%>
				<%= submit_tag 'Enviar Código', :class => 'button' %>
				<%end%>
	    </li>
	    <li><%= link_to 'Gaceta de Cúrsame', newsletter_path %></li>
		<%end%>
	</ul>
</div>
